<%= form_with model: @user, url: sign_up_path do |f| %>
  <% if @user.errors.any? %>
    <div style="color: red">
      <ul>
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.text_field :full_name, placeholder: "Full name" %>
  <%= f.text_field :username, placeholder: "Username" %>
  <%= f.text_field :email, placeholder: "Email" %>
  <%= f.text_field :password, placeholder: "Password" %>
  <%= f.text_field :password_confirmation, placeholder: "Confirm password" %>
  <%= f.text_field :location, placeholder: "Location" %>
  <%= f.text_field :phone_number, placeholder: "Phone number" %>
  <%= f.submit "Create account", disable_with: 'Create accounting...' %>
  <div>
    or
  </div>
  <%= link_to "Login", login_path %>
<% end %>
