<%= render "sidebar_settings" %>

<div class="account_settings">
  <div class="avatar_profile">
    <%# show avatar profile %>
  </div>
  <div class="form_update">
    <%= form_with model: @current_user, url: "/account_settings" do |f| %>
      <% if @current_user.errors.any? %>
        <div style="color: red">
          <ul>
            <% @current_user.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= f.text_field :email, placeholder: "Email" %>
      <%= f.password_field :password, placeholder: "Password" %>
      <%= f.password_field :password_confirmation, placeholder: "Confirm password" %>
      <%= f.submit "Save" %>
    <% end %>
  </div>

  <div class="danger_zone">
    <h4>Danger zone</h4>
    <%= button_to "Delete account", "/delete_account", method: :delete, data: {confirm: "Are you sure you want to delete your account?, you will lose all your images!"} %>
  </div>
</div>
