<div class="image-card">
  <div class="image-content">
    <% unless @images.empty? %>
      <% @images.each do |img| %>
        <div class="image-item">
          <div class="overlay">
            <div class="actions">
              <ul>
                <li>
                  <button class="btn_like", data-image-id="<%= img.identifier %>"><i></i></button>
                </li>
                <li>
                  <%= link_to rails_blob_path(img.photo, disposition: "attachment"), data: {image_id: img.identifier}, class: "download-btn" do%>
                    <i class="fa-solid fa-download"></i>
                  <% end %>
                </li>
                <li>
                  <%= link_to modal_boxes_path, method: :post, data: { image_id: img.identifier, bs_toggle: 'modal', bs_target: '#listBoxesModal',  box_image: !@current_user.boxes_images.where(image_id: img.id).empty? }, remote: true do%>
                    <i class="fa-solid fa-plus"></i>
                  <% end%>
                </li>
              </ul>
            </div>
          </div>
          <div class="image-body">
            <div class="thumb">
              <%= image_tag img.photo, width: 200 if img.photo.attached? %>
            </div>
            <span class="title"><%= img.title %></span>
          </div>
          <div class="image-footer">
            <div class="image_tags">
              <% img.tags.each do |t| %>
                <span class="tag-item"><%= t.tag_name %></span>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% else%>
      <span id="no-content">No content to show</span>
    <% end %>
  </div>
</div>
