<nav class="nav">
  <div class="nav__item--start">
    <h1>LOGO</h1>
  </div>
  <div class="nav__item--center">
    <div class="search">
      <%= form_tag("/search", method: :get) do %>
        <div class="search__input">
          <%= text_field_tag :t, {}, placeholder: "Search" %>
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <%= submit_tag "Search", name: "" %>
      <% end %>
    </div>
  </div>
  <div class="nav__item--end">
    <div class="explore">
      <%= link_to "Explore", "/explore" %>
    </div>
    <div class="post_image">
      <%= link_to "Post iamge", new_image_path, data: { bs_toggle: 'modal', bs_target: '#newFormModal', remote: :true } %>
    </div>
    <div class="actions">
      <%= link_to "#" do %>
        <i class="fa-solid fa-bell"></i>
      <% end %>
      <div class="options_menu">
        <div class="avatar">
          <%= link_to "" do %>
            <i class="fa-solid fa-circle-user"></i>
          <% end %>
        </div>
        <div class="avatar_dropdown">
          <%= link_to "My profile", profile_path(@current_user.username) %>
          <%= link_to "logout", logout_path, method: :post %>
        </div>
      </div>
    </div>
  </div>
</nav>
