<%= form_with(model: @image, html: { id: "new__image--form" }) do |f| %>
  <div class="modal-body">
    <div class="new__image--input">
      <%= f.text_field :title, placeholder: "Title", id: "new__image--input" %>
    </div>
    <div class="new__image--input">
      <%= f.text_field :location, placeholder: "Location", id: "new__image--input" %>
    </div>
    <div class="new__image--input" id="tags_multi_select_container">
      <%= f.select :tag_ids, @tags.map {|t| [ t.tag_name, t.id ] }, { include_blank: false, required: false }, multiple: true, id: "selectElement", class: "tags_multi_select form-select form-control", style: "width: 100%" %>
    </div>
    <div class="new__image--input">
      <%= f.file_field :photo %>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <%= f.submit "Create", disable_with: 'Createing...', id: "new__image--button" %>
  </div>
<% end %>

<script>
  $(document).ready(function() {
    $('.tags_multi_select').select2({
      theme: 'bootstrap',
      placeholder: {
        id: '-1',
        text: "Add tags to your image",
      },
      dropdownParent: $('#tags_multi_select_container').parent()
    });
  });
</script>
