<%= form_with(model: @image) do |f| %>
  <div class="image">
    <%= image_tag @image.photo, width: 200 if @image.photo.attached? %>
  </div>
  <%= f.text_field :title, placeholder: "Title" %>
  <%= f.text_field :location, placeholder: "Location" %>
  <%= f.hidden_field :identifier, value: get_img_secure_identifier if @image.identifier.nil? %>

  <% tags = Tag.all.map { |t| [t.tag_name, t.id] } %>
  <%= f.select :tag_ids, tags, { include_blank: false }, multiple: true %>

  <%= f.file_field :photo %>

  <%= f.submit "Post image" %>
<% end %>

<script>
  let select_tags_list = new SlimSelect({
    select: '#image_tag_ids'
  })
</script>
