<h1>Images</h1>

<div class="images">
  <% @current_user.images.each do |img| %>
    <div class="overlay">
      <div class="top-overlay">
        <%= link_to "delete", img, method: :delete, data: { confirm: "After deleting this image won't be possible restore it, Are you sure to delete it?" } %>
      </div>
    </div>
    <div class="image_<%=img.title%>">
      <div class="image-photo">
        <%= image_tag img.photo, width: 200 if img.photo.attached? %>
      </div>
      <div class="image-info">
        <div class="image-title">
          <%= img.title %>
        </div>
        <div class="image-location">
          <%= img.location %>
        </div>
      </div>
      <div class="image-tags">
        <%
=begin%>
 <% img.tags.select { |t| @tags.push(t.tag_name) } %>
        <div class="tag">
          <%= @tags.join("") %>
        </div>
<%
=end%>
      </div>
    </div>
    <% @tags = [] %>
    <br><br>
  <% end %>
</div>
