<div class="image">
  <div class="overlay">
    <div class="top-overlay">
      <%= link_to "delete", @image, method: :delete, data: { confirm: "After deleting this image won't be possible restore it, Are you sure to delete it?" } %>
    </div>
    <div class="like">
      <%= button_to "Like", "/like/#{@image.id}", method: :post %>
    </div>
  </div>
  <div class="image-photo">
    <%= image_tag @image.photo, width: 200 if @image.photo.attached? %>
  </div>
  <div class="image-info">
    <div class="image-title">
      <%= @image.title %>
    </div>
    <div class="image-location">
      <%= @image.location %>
    </div>
    <div class="image-tags">
      <div class="tag">
        <% @image.tags.each do |t| %>
          <span id="<%= t.tag_name.delete(' ') %>_tag"><%= t.tag_name %></span>
          <% end %>
      </div>
    </div>
  </div>
</div>
